@model List<nemtudom.Models.ContactModel>


@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title>Contact</title>
</head>
<body>
<h1 style="color: blue; text-align: center;">Contact List</h1>

<ul style="list-style-type: none; margin-top: 250px">
    @foreach (var contact in Model)
    {
        <li style="margin-bottom: 20px; border: 1px solid black; padding: 10px; background-color: #b6effb">
            <p><strong>Telefonszam:</strong> @contact.phonenumber</p>
            <p><strong>Email:</strong> @contact.email</p>
            <p><strong>Social Media:</strong> @contact.socialmedia</p>
        </li>
    }
</ul>
</body>
</html>