@model List<nemtudom.Models.ContactModel>


@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
	<title>Contact</title>
</head>
<body>


<ul style="margin-top: 300px; background-color: #0a53be">
        @foreach (var contact in Model)
        {
            <li>
                <p>Telefonszam: @contact.phonenumber</p>
                <p>Email: @contact.email</p>
                <p>Social Media: @contact.socialmedia</p>
            </li>
        }
    </ul>
</body>
</html>