@model IEnumerable<DownloadModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Download</title>
</head>
<body>
<div>
    @foreach (var download in Model)
    {
        <p>@download.file_name</p>
        <a href="@download.file_path">Download</a>
    }
</div>

</body>
</html>