@model nemtudom.Models.ContentModel

@{
    Layout = Layout;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tartalom</title>
    <style>
        body {
            margin-top: 200px;
        }
    </style>
</head>
<body>
<form method="post" action="/Content/AddContent">
    <label for="contentTitle">Content Title:</label>
    <input type="text" id="contentTitle" name="ContentTitle" required>

    <label for="contentBody">Content Body:</label>
    <textarea id="contentBody" name="ContentBody" required></textarea>

    <label for="contentImg">Content Image:</label>
    <input type="text" id="contentImg" name="ContentImg">

    <label for="contentVideo">Content Video:</label>
    <input type="text" id="contentVideo" name="ContentVideo">

    <label for="contentLink">Content Link:</label>
    <input type="text" id="contentLink" name="ContentLink">

    <button type="submit">Add Content</button>
</form>
</body>
</html>