@model nemtudom.Models.ContentModel

@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tartalom Hozzáadása</title>
</head>
<body>
<div>
    <h2>Create Content</h2>
    
    <form asp-action="Create" asp-controller="Content" method="post">
        <div class="form-group">
            <label asp-for="content_title"></label>
            <input asp-for="content_title" class="form-control" />
            <span asp-validation-for="content_title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="content_body"></label>
            <input asp-for="content_body" class="form-control" />
            <span asp-validation-for="content_body" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="content_img"></label>
            <input asp-for="content_img" class="form-control" />
            <span asp-validation-for="content_img" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="content_video"></label>
            <input asp-for="content_video" class="form-control" />
            <span asp-validation-for="content_video" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="content_link"></label>
            <input asp-for="content_link" class="form-control" />
            <span asp-validation-for="content_link" class="text-danger"></span>
        </div>
    
        <button type="submit" class="btn btn-primary">Tartalom Létrehozása</button>
    </form>
</div>
</body>
</html>
