@model List<nemtudom.Models.ContentModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <ul>
    @foreach (var item in Model)
    {
        <p>
            @Html.DisplayFor(modelItem => item.content_title)
            <a asp-action="Delete" asp-route-id="@item.content_id">Delete</a>
        </p>
    }
    </ul>
</div>
</body>
</html>